@model IEnumerable<Estacionamento.Web.Models.VeiculoViewModel>

@{
    ViewData["Title"] = "Listar de Carros";
}

<style>
    .warning {
        border: 1px solid;
        margin: 10px 0px;
        padding: 15px 10px 15px 50px;
        background-repeat: no-repeat;
        background-position: 10px center;
        color: #9F6000;
        background-color: #FEEFB3;
        background-image: url('https://i.imgur.com/Z8q7ww7.png');
    }
</style>

@if (ViewBag.Error != null)
{
    <h3 style="color:red">@ViewBag.Error</h3>
}

<h1>Listagem de Carros</h1>

<p>
    <a asp-action="Cadastrar">Registrar Entrada</a>
</p>
@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                   Placa do Veículo
                </th>
                <th>
                    Data de Entrada
                </th>
                <th>
                    Data de Saída
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Placa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Entrada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Saida)
                    </td>
                    <td>
                        @if (item.Saida == null)
                        {
                            @Html.ActionLink("Saída", "Deletar", new { id=item.Id })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3 class="warning"><strong>Sem Carros</strong></h3>
}